BUSINESS_REQUIREMENTS.md @TokoBapak/frontend @TokoBapak/backend @TokoBapak/infrastructure
NEW_SERVICE.md @aldy505 @elianiva @ronnygunawan
ARCHITECTURE.md @TokoBapak/infrastructure
* @aldy505 @elianiva @ronnygunawan